// color
$transparent: transparent;
$color-white: #FFF;
$color-light-gray: #F7F7F7;
$color-off-white: #FAFAFA;

$color-black: #000;
$color-dark-gray: #333333;

// primary color
$color-accent-blue: #007BFF;
$color-accent-teal: #20C997;
$color-green:#28A745;

// secondary
$color-accent-light-blue: #E0F7FA;
$color-accent-coral:#FF6F61;
$color-accent-orange: #FFA500;

// fonts family

// font size

// spacing

// sizes in rem
