
@use './app/sass/mixins' as Mixin;
@use './app/sass/variables' as Variable;
@use './app/sass/functions' as Function;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include Mixin.flex-column;
    width: 100%;
    min-height: 100dvh;
    padding-block: Variable.$spacing;
}

h2 {
    @include Mixin.header();
}
h3 {
    @extend h2;
}

p {
    @include Mixin.paragraphs();
}

button {
    @include Mixin.buttons;
}

app-root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

app-display-all-posts {
    @include Mixin.flex-column(1rem);
    @include Mixin.width(700px);
    height: fit-content;
}

app-display-a-post {
    @extend app-display-all-posts;
    height: 100dvh;
    // @include Mixin.width(700px);
    // @include Mixin.flex-row(1rem);
    padding: 0 1rem;
}


@media screen and (max-width: 780px) {
    app-display-a-post {
        @include Mixin.flex-column(1rem);
    }
}